
.navbar {
    position: fixed;
    overflow: hidden;
    top: 10;
    /* width: fit-content;
    top: 20px;
    margin: 0;
    padding: 0;
    z-index: 10000; */
}


.sticky {
    position: fixed;
    top: 1.25rem;
    
}

.navbar li :hover {
    background-color: rgba(235, 235, 255, 0.8);
    color: rgba(255, 156, 107, 1);
}