@tailwind base;
@tailwind components;
@tailwind utilities;


/* https://www.canva.com/colors/color-wheel/  pick color: #00ccbb*/


:root {
    --primary-color: hsla(175, 100%, 40%, 1);
    --secondary-color: hsla(0, 0%, 50%, 1); /*#BB00CC;/*hsla(0, 20%, 70%, 1);*/

    --white-color: hsla(162, 100%, 100%, 1);
    --black-color: hsla(162, 100%, 0%, 1);

    --light-background-color: hsla(0, 0%, 93%, 1);/*hsl(177, 20%, 20%); /* #222222 */
    --dark-background-color: hsla(213, 30%, 80%, 1);/*#222222;*/

    --select-bg-color: hsla(240, 100%, 96%, 0.8);
    --select-text-color:rgb(13, 12, 12);

    --lightbg-p: hsla(240, 0%, 50%, 1);
    --darkbg-p: hsla(213, 27%, 84%, 1);

    --nav-links: hsla(175, 100%, 30%, 1); /**/
}



@layer base {
  h1 {
    @apply text-6xl font-serif;
  }
  h2 {
    @apply text-5xl font-serif;
  }
}

main {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica,
    sans-serif;
  background-color: var(--light-background-color);
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  scroll-behavior: smooth; min-width: 0;
}

h1, h2, h3, h4, p {
  text-align: center;
}

h1 {
  color: var(--primary-color);
  /* text shadow */
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);

}

h2 {
  color: var(--primary-color);
}

h3 {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

p {
  color: var(--lightbg-p);
  font-size: 1.125rem;
}


article {
  margin: 1em 0 6em 0;
  padding: 1.5em 0;
  transition: opacity 0.5s ease-in-out;
  overflow-x: hidden;
  z-index: 0;
  min-height: 50vh;
}

.visible {
  opacity: 1;
}


#profile-pic  {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}


#linkedin-svg svg g {
  fill: var(--secondary-color);
  transition: fill 300ms ease;
}
#linkedin-svg:hover svg g{
  fill: hsla(175, 100%, 40%, 1);
}



#ong-project-1 {
  z-index: 100;
  background-color: var(--dark-background-color);

}

#project-container {
  transition: box-shadow 0.5s ease;
}
#project-container:hover {/* #ong-project-1:hover { */
  box-shadow: 0 0 10px hsla(175, 50%, 50%, 0.6);
}


/* SKILLS */
@keyframes slideFromMiddle {
  0% {
    transform: translateX(50vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


#skills-container > * {
  @apply sm:mx-2 md:mx-3 lg:mx-5;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

#skills-container div div  {
  @apply my-5 w-[8vw] lg:w-[55px];
  max-width: 90px;
  min-width: 30px;

  min-height: 50px;

  position: relative;
  cursor: grab;
  /* display:flex; */

  z-index: 1001;

}


#skills-container div div:nth-child(odd) {
  @apply ml-[5vw] sm:ml-[4vw];
}

#skills-container div div:nth-child(2n) {
  @apply mr-[5vw] sm:mr-[4vw];
}

#skills-container div img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10002;
  translate: none;
  rotate: none;
  scale: none;
  touch-action: none;
  cursor: grab;
  user-select: none;
}

#skills-container div img:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}







footer svg {
  transition: box-shadow 0.3s ease;
}

footer svg:hover {
  box-shadow: 0 0 15px var(--primary-color);
}


.print-force-new-page {
  page-break-before: always;
}

#cv h1, #cv h2, #cv h3, #cv h4, #cv p {
  text-align: left;
}
