@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;

  --color-light: #ffffff;

  --color-primary-400: #00ccbb;
  --color-primary-500: #00998c;
  --color-primary-600: #00a89a;

  --color-background: #34383c;

  --color-border: #00332f;

  --shadow-project-card: 0 0 15px 1px var(--color-border);

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  --animate-move-left: scroll 24s linear infinite reverse;
  --animate-move-right: scroll 24s linear infinite;
}


@layer base {
  h1,
  h2,
  h3,
  p {
    font-family: "Lora", serif;
    text-align: center;
  }

  h1 {
    color: var(--color-primary-400);
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  }
  h2,
  h3 {
    @apply text-light/65;
  }
  p {
    color: var(--color-light)
  }
}


html {
  font-family: var(--font-lora);
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.125rem;
}

article {
  margin: 1em 0 6em 0;
  padding: 1.5em 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

footer svg {
  transition: box-shadow 0.3s ease;
}

footer svg:hover {
  box-shadow: 0 0 15px hsl(var(--primary-color));
}

.keywords::after {
  content: "";
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    hsla(210, 7%, 22%, 0.9),
    hsla(210, 7%, 22%, 0.1) 90%
  );
  width: 10%;
  height: 100%;
}

.keywords::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to left,
    hsla(210, 7%, 22%, 0.9),
    hsla(210, 7%, 22%, 0.1) 90%
  );
  width: 10%;
  height: 100%;
}



.project p {
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .project {
    transform: translateX(-50%) rotate3d(1, 0, 0, 15deg);
  }

  .project:hover {
    transform: translateY(-10px) translateX(-50%) rotate3d(1, 0, 0, 0);
  }
}

skills > * {
    @apply sm:mx-2 md:mx-3 lg:mx-5;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .skills div  {
    @apply my-5 w-[8vw] lg:w-[55px];
    max-width: 90px;
    min-width: 30px;

    min-height: 50px;
    position: relative;
    cursor: grab;

    z-index: 1001;

  }


  .skills div div:nth-child(odd) {
    @apply ml-[5vw] sm:ml-[4vw];
  }

  .skills div div:nth-child(2n) {
    @apply mr-[5vw] sm:mr-[4vw];
  }

  .skills div img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10002;
    translate: none;
    rotate: none;
    scale: none;
    touch-action: none;
    cursor: grab;
    user-select: none;
  }

  .skills div img:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
