@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-color: hsl(var(--primary-color));
  --color-darker-primary-color: hsl(var(--darker-primary-color));
  --color-secondary-color: hsl(var(--secondary-text-color));
  --color-primary-text-color: hsl(var(--primary-text-color));
  --color-secondary-text-color: hsl(var(--secondary-text-color));
  --color-secondary-text-color-light: hsl(var(--secondary-text-color-light));
  --color-light-background-color: var(--light-background-color);
  --color-dark-background-color: var(--dark-background-color);
  --color-project-border-color: hsla(162, 10%, 70%, 0.7);
  --color-background: #222222;
  --color-lightbg-text: #5a5a66;

  --container-center: true;
  --container-padding: 2rem;
  --container-screen-2xl: 1400px;
}

:root {
  --background-color: hsl(210, 7%, 22%);
  --primary-color: 175, 100%, 40%; /* hsl */
  --darker-primary-color: 175, 100%, 30%; /* hsl */

  --primary-text-color: 0, 0%, 100%; /* hsl */
  --secondary-text-color: 0, 0%, 65%; /* hsl */
  --secondary-text-color-light: 0, 0%, 90%; /* hsl */
}

@layer base {
  h1,
  h2,
  h3,
  p {
    font-family: "Lora", serif;
    text-align: center;
  }

  h1 {
    color: hsl(var(--primary-color));
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  }
  h2,
  h3 {
    color: hsl(var(--secondary-text-color));
  }
  p {
    color: hsl(var(--primary-text-color));
  }
}

main {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.125rem;
}

article {
  margin: 1em 0 6em 0;
  padding: 1.5em 0;
  transition: opacity 0.5s ease-in-out;
  /* overflow-x: hidden; */
  z-index: 0;
  /* min-height: 50vh; */
}

#profile-pic {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

#linkedin-svg svg g {
  fill: var(--secondary-color);
  transition: fill 300ms ease;
}
#linkedin-svg:hover svg g {
  fill: hsla(175, 100%, 40%, 1);
}

#ong-project-1 {
  z-index: 100;
  background-color: var(--dark-background-color);
}

#project-container {
  transition: box-shadow 0.5s ease;
}
#project-container:hover {
  /* #ong-project-1:hover { */
  box-shadow: 0 0 10px hsla(175, 50%, 50%, 0.6);
}

/* SKILLS */
@keyframes slideFromMiddle {
  0% {
    transform: translateX(50vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

footer svg {
  transition: box-shadow 0.3s ease;
}

footer svg:hover {
  box-shadow: 0 0 15px hsl(var(--primary-color));
}

.print-force-new-page {
  page-break-before: always;
}

#cv h1,
#cv h2,
#cv h3,
#cv h4,
#cv p {
  text-align: left;
}
