@tailwind base;
@tailwind components;
@tailwind utilities;



/* 'main': "#222222",
      'title': "#FFE1DA",//"#E88349",//"#F39C6B", 
      'subtitle': "#FFE1DA",//"#EEEEFF",
      'cool': "#639FAB", */

:root {
    --background-color: #222222;
    --title-color: #FFE1DA;
    --subtitle-color: #EBEBFF;
    --p-color: white;
    --cool:#639FAB;
    --select-bg-color: rgba(235, 235, 255, 0.8);
    --select-text-color:rgba(255, 156, 107, 1);
    --ok : #cbd5e1;
    --lightbg-text : #242429;
    
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #222222;
  color: #EEEEFF;
}

#navbar {
  z-index: 10000;
}

#current-tab {
  background-color: rgba(235, 235, 255, 0.2);
  border-radius: 0.5rem;
  color: #ffffff;
}

nav li:hover, #current-tab:hover {
  background-color: var(--select-bg-color);
  border-radius: 0.5rem;
  color: var(--select-text-color);
}

section {
  
  margin: 1em 4em;
  padding: 0 2.5em 1.5em 1em;
  /* padding: 1em 4em; */
  
}

h1 {
  font-size: 5rem;
  /* line-height: 6.75rem; */
  line-height: 5.75rem;
  color: var(--title-color);
}

#main-sub {
  color: var(--subtitle-color);
  font-size: 1.25rem;
  line-height: 2.75rem;
}



h2 {
  color: var(--subtitle-color);
  font-size: 4.75rem;
}

p {
  color: var(--p-color);
}

/* 
a {
  color: inherit;
  text-decoration: none;
} */


img {
  max-width: 100%;
  height: auto;
}


#ong-project-1, #ong-project-2 {
  width: 35rem;
  height: 25rem;
  border: 2px solid var(--lightbg-text);
  z-index: 100;
  background-color: var(--ok);
  /* padding: 0 2rem 0 2rem; */
  transition: box-shadow 0.3s ease;
}

#ong-project-1:hover {
  box-shadow: 0 0 15px var(--cool);
}

footer svg {
  transition: box-shadow 0.3s ease;
}

footer svg:hover {
  box-shadow: 0 0 15px var(--cool);
}

