

.waves {
  display: block;
  position: relative;
}









/* 
.waves:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: var(cool);
  right: -25%;
  top: 20px;
}
*/



/*
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

*/



