

.keywords ul {
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scroll 15s linear infinite;
}

.keywords::after {
    content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to right,hsla(210, 7%, 22%, 0.9), hsla(210, 7%, 22%, 0.1) 90%);
    width: 10%;
    height: 100%;
}


.keywords::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to left,hsla(210, 7%, 22%, 0.9), hsla(210, 7%, 22%, 0.1) 90%);
    width: 10%;
    height: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
}
