

.project {
    --border-color: #00332F;
    --highlight-color: 175, 100%, 33%;
    --index: attr(data-index);
    z-index: var(--index);

    background-color: hsl(var(--darker-primary-color));
    border-color: var(--border-color);
    left: 50%;
    right: 50%;
    transform: translateX(-80%);
    box-shadow: 0 0 15px 1px var(--border-color);
    transition: transform 1s ease, z-index 1.5s ease, background-color 1s ease, font-size 1s ease;
}

.project:hover {
    z-index: 11;
    transform: translateY(-10px) translateX(-80%);
    background-color: hsla(var(--highlight-color));
    transition: transform 0.5s, z-index 1.5s ease, background-color 0.5s cubic-bezier(0.1, -0.6, 0.2, 0) , font-size 1s ease;
}


.project h2 {
    transition: all 0.3s ease;
    font-family: 'Inter';
}

.project p {
    font-family: 'Inter', sans-serif;
}

.project:hover p {
    transition: all 0.3s ease;
}

.project img {
    /* object-fit: cover; */
    transition: all 0.3s ease;
}
.project img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .project {
        /* box-shadow: 0 0 15px 1px var(--border-color); */
        transform: translateX(-50%) rotate3d(1, 0, 0, 15deg);
    }

    .project:hover {
        transform: translateY(-10px)  translateX(-50%) rotate3d(1, 0, 0, 0);
    }
}
