
.section {
  margin: 0 auto 100px;
}



.profilepic {
  border-radius: 999px;
}




.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
