name: Pull request

on:
  pull_request:
    branches:
      - main

jobs:
  health-check:
    name: Health check
    runs-on: ubuntu-latest

    steps:
      - name: Check out source code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint
